#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp/
temp/


#     Node.js     #
###################
node_modules
package-lock.json


#       NYC       #
###################
coverage
*.lcov
.nyc_output


#      Files      #
###################
*.log
